<p-dialog [visible]="visible()" (visibleChange)="!$event && onClose.emit()" [modal]="true" [draggable]="false"
    position="top" [style]="{ width: '850px', marginTop: '2rem' }" styleClass="glass-dark border border-white/10 rounded-2xl shadow-2xl"
    [header]="data()?.profesorNombre">

    <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="info">
                <i class="pi pi-info-circle mr-2"></i>Detalles
            </p-tab>
            <p-tab value="contracts">
                <i class="pi pi-file mr-2"></i>Contratos
            </p-tab>
        </p-tablist>
        
        <p-tabpanels>
            <p-tabpanel value="info">
                @if (activeTab() === 'info') {
                    <app-professor-info-tab [data]="data()" />
                }
            </p-tabpanel>
            <p-tabpanel value="contracts">
                @if (activeTab() === 'contracts') {
                    <app-professor-contracts-tab [data]="data()" />
                }
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-dialog>
