<nav
    class="sticky top-0 z-50 glass-dark px-4 lg:px-8 py-4 flex justify-between items-center border-b border-white/5 shadow-2xl">

    <div class="flex items-center gap-2 md:gap-4">
        <p-button icon="pi pi-bars" [text]="true" severity="secondary" class="lg:hidden"
            (onClick)="layoutService.toggleSidebar()" />

        <img ngSrc="favicon.ico" alt="Logo SGEDI" width="50" height="50" priority class="object-contain" />

        <div class="flex flex-col">
            <span class="font-bold text-lg tracking-tight text-zinc-900 dark:text-white leading-none">
                SGEDI <span class="text-blue-600 dark:text-blue-500">v2</span>
            </span>
            <span class="text-[9px] font-bold text-zinc-500 dark:text-zinc-500 uppercase tracking-widest mt-1 hidden md:block"><span
                    class="text-blue-600 dark:text-blue-500">S</span>istema de <span
                    class="text-blue-600 dark:text-blue-500">G</span>estión de <span
                    class="text-blue-600 dark:text-blue-500">E</span>ducación <span
                    class="text-blue-600 dark:text-blue-500">D</span>ual del <span
                    class="text-blue-600 dark:text-blue-500">I</span>TTLA</span>
        </div>
    </div>

    <div class="flex items-center gap-8">
        @if (authService.currentUser(); as user) {

        <div class="flex items-center gap-4 pl-2">
            <div class="user-profile-badge group hidden sm:flex">
                <div class="text-right hidden lg:block">
                    <p class="text-[13px] font-bold text-zinc-900 dark:text-zinc-100 leading-none mb-1.5">{{
                        user.fullName }}</p>
                    <div class="flex items-center justify-end gap-1.5">
                        <span class="w-1.5 h-1.5 rounded-full bg-emerald-500"></span>
                        <p
                            class="text-[9px] font-bold text-zinc-600 dark:text-zinc-500 uppercase tracking-widest leading-none">
                            {{
                            user.roles[0] }}</p>
                    </div>
                </div>
                <div
                    class="w-9 h-9 rounded-xl bg-gradient-to-br from-zinc-200 to-zinc-300 dark:from-zinc-700 dark:to-zinc-900 flex items-center justify-center border border-black/5 dark:border-white/10 group-hover:border-blue-500/50 transition-all shadow-inner">
                    <span class="text-sm font-black text-zinc-700 dark:text-white">{{ user.fullName.charAt(0) }}</span>
                </div>
            </div>

            <p-button icon="pi pi-sign-out" [rounded]="true" [text]="true" severity="secondary" (onClick)="logout()"
                pTooltip="Finalizar Sesión" tooltipPosition="bottom" styleClass="navbar-btn navbar-btn-logout">
            </p-button>
        </div>
        }
    </div>

</nav>