:host {
  display: block;
  width: 100%;
}

.custom-table .p-datatable-thead>tr>th {
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.custom-table .p-datatable-tbody>tr {
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.p-paginator {
  background: transparent !important;
  border: none !important;
}